.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.btn {
  background: #d9343c;
  /* background-image: -webkit-linear-gradient(top, #d9343c, #b82b2b);
  background-image: -moz-linear-gradient(top, #d9343c, #b82b2b);
  background-image: -ms-linear-gradient(top, #d9343c, #b82b2b);
  background-image: -o-linear-gradient(top, #d9343c, #b82b2b);
  background-image: linear-gradient(to bottom, #d9343c, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28; */
  border-radius: 28px;
  font-family: 'Lobster', cursive;
  color: #f0ebec;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 45%;
  
}

.btn:hover {
  text-decoration: none;
}

body {
  background-color: #B7D3DF;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #D6EFED;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
